* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --p1: pink;
  --p2: greenyellow;
  --p3: blue;
  --p4: black;
}
header {
  width: 100%;
  display: flex;
  background-color: #4b4b4b;
  padding: 10px 0 10px 50px;
}

.filter {
  display: flex;
  padding: 10px;
  background-color: #3d3d3d;
  column-gap: 10px;
}

.filter .box {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.filter .box.selected {
  border: 2px solid red;
}

.filter .box:hover {
  border: 2px solid white;
}

.filter .box.p1 {
  background-color: var(--p1);
}

.filter .box.p2 {
  background-color: var(--p2);
}
.filter .box.p3 {
  background-color: var(--p3);
}
.filter .box.p4 {
  background-color: var(--p4);
}

.actions {
  display: flex;
  background-color: #3d3d3d;
  margin: 0 30px;
}
.actions .box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  width: 50px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.actions .box:hover {
  background-color: green;
}

.actions .remove.box.selected {
  color: red;
}
.search input {
  width: 300px;
  height: 50px;
  padding: 0 20px;
  background-color: white;
  font-size: 18px;
}

.task-section {
  display: flex;
  column-gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.task-section .task {
  display: flex;
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  flex-direction: column;
}

.task-section .task .task-priority {
  height: 10px;
  background-color: var(--p1);
}

.task-section .task .task-id {
  height: 20px;
  background-color: orange;
}

.task-section .task .task-title {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  position: relative;
}

.task-section .task .task-title span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.task-section .task .task-title .task-remove {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.non-editable .task .task-remove {
  display: none;
}

.non-editable .task {
  pointer-events: none;
}

.heading {
  padding: 15px 0 0 30px;
}

.add-task-modal {
  display: flex;
  width: 600px;
  height: 300px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.add-task-modal .left-section {
  display: flex;
  flex-grow: 1;
}

.add-task-modal .left-section textarea {
  padding: 10px;
  display: flex;
  flex-grow: 1;
}
.add-task-modal .right-section {
  display: flex;
  width: 120px;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
  justify-content: center;
}

.add-task-modal .right-section .box {
  height: 60px;
  width: 100px;
}

.add-task-modal .right-section .box:hover {
  border: 2px solid white;
}
.add-task-modal .right-section .box.p1 {
  background-color: var(--p1);
}

.add-task-modal .right-section .box.p2 {
  background-color: var(--p2);
}
.add-task-modal .right-section .box.p3 {
  background-color: var(--p3);
}
.add-task-modal .right-section .box.p4 {
  background-color: var(--p4);
}

.add-task-modal .right-section .box.selected {
  border: 2px solid red;
}
.hide {
  display: none;
}

.task [data-priority="p1"].task-priority {
  background-color: var(--p1);
}
.task [data-priority="p2"].task-priority {
  background-color: var(--p2);
}
.task [data-priority="p3"].task-priority {
  background-color: var(--p3);
}
.task [data-priority="p4"].task-priority {
  background-color: var(--p4);
}
